<div class="row">
        <div class="col">

            <div class="card" (mouseover)="hoverQuick=true" (mouseleave)="hoverQuick=false">
                <img class="card-img-top ml-4 pl-4 pt-3 mt-4" src="../../assets/img/Get Paid Instantly.png" alt="Card image cap">
                <div class="card-body">
                <a class="card-title  ml-4 pl-2" style="font-weight: bold;"  [ngStyle]="{color:!hoverQuick? '#333333' : 'white'}">Quick cash disbursement</a>
                    <div class="mt-2  ml-4 pl-2 mr-4 pr-2">
                    <a class="card-title" [ngStyle]="{color:!hoverQuick? '#999999' : 'white'}">Get terms loans that your business needs within 72 hrs</a>
                    </div>
                </div>
            </div>
            <div class="card m-3" style="top: 44px;" (mouseover)="hoverLow=true" (mouseleave)="hoverLow=false">
                <img class="card-img-top ml-4 pl-4 pt-3 mt-4" src="../../assets/img/Low interest rate.png" alt="Card image cap">
                <div class="card-body">
                <a class="card-title  ml-4 pl-2" style="font-weight: bold;"  [ngStyle]="{color:!hoverLow? '#333333' : 'white'}">Low-interest rate</a>
                    <div class="mt-2  ml-4 pl-2 mr-4 pr-2">
                    <a class="card-title" [ngStyle]="{color:!hoverLow? '#999999' : 'white'}">Achieve your financial goals with an amazing interest rate starting at 13% per annum</a>
                    </div>
                </div>
            </div>
            <div class="card m-3" style="top: 44px;" (mouseover)="hoverZero=true" (mouseleave)="hoverZero=false">
                <img class="card-img-top ml-4 pl-4 pt-3 mt-4" src="../../assets/img/Secure Payments.png" alt="Card image cap">
                <div class="card-body">
                <a class="card-title  ml-4 pl-2" style="font-weight: bold;"  [ngStyle]="{color:!hoverZero? '#333333' : 'white'}">Zero Paperwork</a>
                    <div class="mt-2  ml-4 pl-2 mr-4 pr-2">
                    <a class="card-title" [ngStyle]="{color:!hoverZero? '#999999' : 'white'}">Get started instantly by submitting only your basic details & bank statements</a>
                    </div>
                </div>
            </div>
        </div>

    <div class="col" style="top:125px">

        <div class="card m-3" (mouseover)="hoverAce=true" (mouseleave)="hoverAce=false">
            <img class="card-img-top ml-4 pl-4 pt-3 mt-4" src="../../assets/img/freelancer_feature_icon_6@1.5x.png" alt="Card image cap">
            <div class="card-body">
            <a class="card-title  ml-4 pl-2" style="font-weight: bold;"  [ngStyle]="{color:!hoverAce? '#333333' : 'white'}">Ace your business finances</a>
                <div class="mt-2  ml-4 pl-2 mr-4 pr-2">
                <a class="card-title" [ngStyle]="{color:!hoverAce? '#999999' : 'white'}">Manage banking, accounting & everything in between, on one platform</a>
                </div>
            </div>
        </div>
        <div class="card m-3" style="top: 44px;" (mouseover)="hoverLoans=true" (mouseleave)="hoverLoans=false">
            <img class="card-img-top ml-4 pl-4 pt-3 mt-4" src="../../assets/img/Covid.png" alt="Card image cap">
            <div class="card-body">
            <a class="card-title  ml-4 pl-2" style="font-weight: bold;"  [ngStyle]="{color:!hoverLoans? '#333333' : 'white'}">Loans to fight COVID-19</a>
                <div class="mt-2  ml-4 pl-2 mr-4 pr-2">
                <a class="card-title" [ngStyle]="{color:!hoverLoans? '#999999' : 'white'}">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="buiness">Boost your business with Open</div>
        <div class="getyourhands">
            Get your hands on a term loan that’s crafted for your business
        </div>
        <div class="line"></div>
        <div style="top: 559px; position: absolute; left: 138px;">
            <button type="button" class="btn bg.transparent">Get an Open Account</button>
        </div>


    </div>


</div>