
<app-navigate-comp></app-navigate-comp>
<div class="section">
    <div class="sec1"></div>
    <img src="../assets/img/blob-small.png" class="bob">
    <div class="slide"></div>
    <div class="dot"></div>
    <img src="../assets/img/accounting_dots.png" class="dotimg">
    <div class="text"></div>
    <div class="line"></div>
    <div class="wave"></div>
    <div class="instant"></div>
    <div class="eligibility">
        <app-eligibility-calc></app-eligibility-calc>
    </div> 
    <div style="top: 1137px; left: 191px; position: absolute;">
        <app-open-detail></app-open-detail>
    </div>
</div>
